@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
  html, body {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
         overflow-y: hidden;
          font-family: "Open Sans Condensed", sans-serif !important;
      } 
	  .flex-container {
    display: -webkit-flex;
    display: flex;
  
    width: 100%;
    min-height: 82% !important;
     max-height: 82vh;
    overflow: auto;
}

.sidenav {
background-color: #182b3a;
background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);

   overflow-y: hidden;

	 
}
	  
	#sidenavList {

	overflow-y: scroll;
	  overflow-x: hidden;
	   max-height: 90%;
}  
	  
#sidenavList::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}	  
	  
	  
	  
	  
      .map {
        height: 100%;
        width: 100%;
		 
      }
      .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 80px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "x";
      }
	  .content {
    background-color: lightblue;
    padding: 0px;
    -webkit-flex: 5;
    flex: 5;
    
}





#popup-content-img{

border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;

}


div.sidenav > img{
border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;


}


.containerFoot{

   margin-left: 0 !important;
   margin-right: 0 !important;
}




.navbar { background-color: #484848; margin-bottom: 0;}
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #fbc531; }
.navbar .navbar-nav .active > .nav-link { color: #fbc531; }
header {
   
}

footer {
margin-top: 0;
   min-height: 10% !important;
     max-height: 20vh !important;
     background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

footer a.text-light:hover { color: #fed136!important; text-decoration: none; }
footer .cizgi { border-right: 1px solid #535e67; }

@media (max-width: 992px) { footer .cizgi { border-right: none; } }